#tab-keyboard-technology .content .header {font-size: 2.25rem;}
#tab-keyboard-technology .header {color: #fff;}
#tab-keyboard-technology .icons ul li {row-gap: 2rem;}
#tab-keyboard-technology .icons ul li img {max-width: 168px;}
@media (max-width: 768px) {
	#tab-keyboard-technology .content .header {font-size: 1.875rem;}
}
 @media screen and (max-width:767px){} @media screen and (-webkit-max-device-pixel-ratio: 1) and (min-width: 1200px), screen and (min-width: 768px) and (max-width: 1200px){} @media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 1200px){} @media screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1200px){}